.main {
    width: 60%;
    margin: 0 auto;
}
// ----------
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9rem;
}
.caption {
    width: 60%;
    h4 {
        margin-top: 2rem;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;

    }
    p {
        margin: 1.5rem 0 3rem 0;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        line-height: 1.8rem;
    }
}
.imageCover {
    width: 250px;
    height: 100%;
    // height: 250px;
}
.title {
    width: 50%;
    padding: 1rem 2rem 1rem 0;
    border-bottom: solid 1px;
    h3 {
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
    }
}

// --------------------------------------

@media screen and (max-width:900px) {
    .main {
        width: 70%;
        // padding: 0 1rem;
        // margin: 0 auto;
    }
    .item {
        flex-flow: column;
        // justify-content: center;
        flex-direction: column-reverse;
        margin-bottom: 6rem;
    }
    .caption {
        width: 100%;
        h4 {
            font-size: 1rem;
        }
    }
    .imageCover {
        width: 100%;
        height: auto;
    }
    .title {
        width: 100%;
    }
    .imageCover {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 3rem 0;
    }
    .riverse {
        flex-direction: row-reverse;
    }
  }