.main {
    width: 60%;
    margin: 0 auto;
}
// ----------
.itemConteiner {
    display: flex;
    justify-content: space-between;
}
.item {
    // display: flex;
    // justify-content: space-between;
    width: 35%;
    margin: 0 auto 9rem auto;
    p {
        font-size: 0.9rem;
        letter-spacing: 0.3rem;
        margin-bottom: 0.5rem;
    }
}
.title {
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem 0 2rem 0;
    border-bottom: solid 1px;
    text-align: center;
    h3 {
        font-size: 2rem;
        letter-spacing: 1rem;
    }
}
.itemBody {
        display: flex;
    justify-content: space-around;
}
.itemBodyLeft {
    width: 30%;
}

// --------------------------------------

@media screen and (max-width:900px) {
    .main {
        width: 70%;
        // margin-top: 12rem;
        margin-bottom: 6rem;
    }
    .itemConteiner {
        flex-flow: column;
        p {
            font-size: 0.9rem;
        }
    }
    
    .item {
        margin: 0 0 6rem 0;
        width: 100%;
    }
    .title {
        h3 {
            font-size: 1.6rem;
        }
    }

  }