.container {
    height: 90vh;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    h2 {
        font-size: 2.8rem;
        letter-spacing: 0.6rem;
        writing-mode: vertical-rl;
    }
    p {
        margin: 0 0.5rem;
        font-size: 1.4em;
        letter-spacing: 0.4rem;
        writing-mode: vertical-rl;
        // text-indent: 1em;
    }
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    // margin-right: 6rem;
    margin: 0 auto;
}
.visual {
    margin: 0 6rem 9rem 3rem;
}
.description {
    letter-spacing: 0.15rem;
    line-height: 3rem;
}
.descriptionItem {
    display: flex;
    margin-bottom: 6rem;
}


.rightContent {
    margin-bottom: 8rem;
    margin-left: 6rem;
}

.nameLogo {
    position: absolute;
    bottom: 0;
    left: 6.8rem;
    writing-mode: vertical-rl;
    h1 {
        position: sticky;
        top: 10rem;
        // left: 3rem;
        font-size: 1.4rem;
        letter-spacing: 0.4rem;
        font-weight: 500;
    }
}
.scroll {
    margin-left: 3rem;
    height: 180px;
    border-left: solid 1px;
    p {
        margin-left: 12px;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
}

.backAccentPC {
    position: absolute;
    top: 65%;
    left: -1;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.8;
}
.backAccentMobile {
    position: absolute;
    top: 6rem;
    left: -1;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0;
}



// -------------------

.contents {
    width: 60%;
    margin: 0 auto;
}

.items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.item {
    margin: 0 0 9rem 0;
    width: 350px;
}
.imageCover {
    width: 100%;
}
.caption {
    width: 100%;
    p {
        margin-top: 1rem;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
    }
}
.title {
    margin-bottom: 1rem;
    padding: 1rem 2rem 1rem 0;
    border-bottom: solid 1px;
    h3 {
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }
}

// --------------------------------------

@media screen and (max-width:900px) {
    // .content {
    //     width: 80%;
    // }
    .container {
        margin-top: 4rem;
        // padding: 0 1rem;
        // margin: 0 auto;
        margin-bottom: 24rem;
        // justify-content: flex-start;
        align-items: flex-start;

        h2 {
            font-size: 1.6rem;
        }
        p {
            font-size: 1.2rem;

        }
    }
    .content {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        // margin-right: 6rem;
        margin: 0 auto;
        padding-left: 1.5rem;
    }

    .leftContent {
        width: 100%;
        margin-right: 0;
    }
    .visual {
        width: 75%;
        margin: 1rem 0 6rem 0;
    }
    .visualCover {
        height: 100%;
        // align-items: flex-end;
    }
    .description {
        position: absolute;
        top: 90%;
        right: 0;
        width: 100%;
        margin: 0 auto;
        letter-spacing: 0.15rem;
        line-height: 3rem;
    }
    .descriptionItem {
        display: flex;
        justify-content: center;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
    }
    .nameLogo {
        opacity: 0;
    }
    .rightContent {
        position: absolute;
        bottom: 1rem;
        right: 1.5rem;
        width: 10%;
        // height: fit-content;
        // display: flex;
        // align-items: flex-start;
        // margin-top: 24rem;
        background-color: white;
        padding: 0.5rem 0;
        margin: 0 ;
        // margin-bottom: 8rem;

        // z-index: 5;
    }

    .backAccentPC {
        opacity: 0;
        width: 10%;
    }
    .backAccentMobile {
        top: 95%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
        opacity: 1;
        
    }

    // -

    .contents {
        width: 70%;
        margin: 0 auto;
    }
    
    .items {
        width: 100%;
        flex-flow: column;
    }
    
    .item {
        margin: 0 0 9rem 0;
        width: 100%;
    }
    .imageCover {
        width: 100%;
    }
    .title {
        h3 {
            font-size: 1.2rem;
        }
    }

  }
