.box {
    width: 100%;
    margin-top: 9rem;
}

.container {
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
    h1 {
        // width: 30%;
        margin: 1rem auto 6rem  auto;
        font-size: 2rem;
        letter-spacing: 0.6rem;
        writing-mode: vertical-rl;
    }
    textarea {
        width: 100%;
        resize: none;
        margin: 10px 0 10px 0px;
        padding: 1rem;
        border-color: white;
        border-bottom: solid 1px ;
        background-color: #eeeeee;
        font-size: 1rem;
    }
    input {
        width: 100%;
        font-size: 1rem;
        margin: 1rem 0 3rem 0;
        border-color: white;
        border-bottom: solid 1px ;
        padding: 1rem;
        background-color: #eeeeee;
    }
  }
  
  .btnBlock {
    width: 100%;
    margin-top: 6rem;
    button {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid ;
        margin: 0 auto;
        padding: 1rem 0;
        letter-spacing: 0.6rem;
  }
}