.box {
    width: 100%;
    margin-top: 18rem;
}

.container {
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
    h1 {
        // width: 30%;
        margin: 1rem auto 6rem  auto;
        font-size: 2rem;
        letter-spacing: 0.6rem;
        writing-mode: vertical-rl;
    }
    textarea {
        width: 100%;
        resize: none;
        margin: 10px 0 10px 0px;
        padding: 1rem;
        border-color: white;
        border-bottom: solid 1px ;
        background-color: #eeeeee;
        font-size: 1rem;
    }
    input {
        width: 100%;
        font-size: 1rem;
        margin: 1rem 0 3rem 0;
        border-color: white;
        border-bottom: solid 1px ;
        padding: 1rem;
        background-color: #eeeeee;
    }
  }
  
  .btnBlock {
    width: 100%;
    margin-top: 6rem;
    button {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid ;
        margin: 0 auto;
        padding: 1rem 0;
        letter-spacing: 0.6rem;
  }
}

.backAccentPC {
    position: fixed;
    top: 45%;
    left: -1;
    width: 106%;
    height: auto;
    z-index: -1;
    opacity: 0.8;
}
.backAccentMobile {
    position: fixed;
    top: 6rem;
    left: -1;
    width: 102%;
    height: auto;
    z-index: -1;
    opacity: 0;
}


// --------------------------------------

@media screen and (max-width:767px) {
    .box {
        width: 100%;
        margin-top: 12rem;
    }
    
    .container {
        width: 80%;

        margin-top: 3rem;
        // padding: 0 1rem;
        // margin: 0 auto;
        margin-bottom: 3rem;

        h1 {
            // height: 100%;
            font-size: 1.6rem;
        }
    }
    .nameLogo {
        opacity: 0;
    }

    .backAccentPC {
        opacity: 0;
    }
    .backAccentMobile {
        top: 55%;
        left: 0;
        width: 100%;
        opacity: 1;
        
    }

    // -

    .contents {
        width: 70%;
        margin: 0 auto;
    }
    
    .items {
        width: 100%;
        flex-flow: column;
    }
    
    .item {
        margin: 0 0 9rem 0;
        width: 100%;
    }
    .imageCover {
        width: 100%;
    }
    .title {
        h3 {
            font-size: 1.2rem;
        }
    }
    .btnBlock {
        width: 100%;
        button {
            width: 100%;
            margin: 0 auto;
            padding: 1.5rem 0;
            letter-spacing: 1rem;
      }
    }

  }
