.container {
    width: 60%;
    height: 80vh;
    margin: 6rem auto 18rem auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
        font-size: 2rem;
        writing-mode: vertical-rl;
        letter-spacing: 0.5rem;
    }
    p {
        margin-top: 6rem;
        font-size: 0.9rem;
    }
}

.leftContent {
    margin: 0 auto;
    width: 40%;
}
.leftContentTitle {
    width: 30%;
    margin: 0 auto;
    // margin-left: 1rem;
    // padding: 0 2rem;
    border-right: solid 1px;
}

.visualCover {
    // width: 70%;
    height: 100%;
    margin-top: 6rem;
    margin-left: 6rem;
    display: flex;
    align-items: center;
}
.visual {
    object-fit: cover;
    position: relative !important;
}

// --------------------------------------

@media screen and (max-width:900px) {
    .container {
        width: 100%;
        margin-top: 6rem;
        // margin-bottom: 6rem;
        // padding: 0 1rem;
        // margin: 0 auto;
        margin-bottom: 16rem;
        align-items: flex-end;
        flex-flow: column;


        h2 {
            font-size: 1.4rem;
        }
        p {
            margin-top: 3rem;
            font-size: 0.9rem;
        }
    }
    .leftContent {
        margin: 0 auto;
        width: 70%;
    }
    .leftContentTitle {
        width: 20%;
        margin: 0 auto;
        border-right: solid 1px;
    }
    .visualCover {
        width: 100%;
        height: 100%;
        margin-top: 6rem;
        margin-left: 6rem;
        display: flex;
        align-items: center;
    }
}