.container {
  height: 100vh;
}
.header {
  position: fixed;
  top: 1rem;
  left: 0;
  // left:calc(50% - 50px/2);
  // transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  mix-blend-mode: color-burn;
}
.logoName {
  display: none;
}
.headerLogo {
  margin: 0 auto;
  text-align: center;
}
.logoContainer {
  h1 {
    margin: 3rem auto;
    font-size: 1.6rem;
    letter-spacing: 0.6rem;
    writing-mode: vertical-rl;
    opacity: 0;
    animation: item 5s ease-in 0.8s;
  }
}
.symbol {
  opacity: 0;
  animation: item 5s ease-in 0.2s;
}

.loadingAnimation {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 15;
  background-color: white;
  animation: loading 4s ease-in;
  opacity: 0;
}
@keyframes loading {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    // opacity: 0;
    transform: translateY(0%);
  }
}
@keyframes item {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splineContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: experience 6s ease-in;
}
@keyframes experience {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 20%;
  }
  100% {
    opacity: 1;
  }
}

// --------------------------------------

@media screen and (max-width: 900px) {
  // .logoName {
  //     display: block;
  //     margin: 1rem auto;
  //     font-size: 1.2rem;
  //     letter-spacing: 0.6rem;
  //     writing-mode: vertical-rl;
  // }
  .headerLogo {
    width: 80px;
    height: auto;
  }

  .logoContainer {
    h1 {
      margin: 0 auto;
      font-size: 1.2rem;
    }
  }
  .symbol {
    width: 150px;
    height: auto;
  }
}
