.contact {
    width: 100%;
    margin: -12rem auto 3rem auto;
    text-align: center;
    h3 {
        margin-top: 4rem;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        line-height: 3rem;
    }
}

.news {
    width: 50%;
    margin: 0 auto;
}
.title {
    width: 100%;
    margin-top: 6rem;
    padding: 3rem 1rem;
    border-bottom: solid 1px;
    text-align: center;
    h2 {
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
}
.newsPost {
    margin: 3rem 0;
    padding: 0 3rem;
    p {
        margin-top: 1rem;
    }
}
.newsPostTitle {
    margin: 6rem 0 0 0;
    padding: 1rem 0;
    // border-bottom: solid 1px;
    h3 {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
    }
}
.newsMoreBtn {
    width: 20%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: solid 1px;
}

.hire {
    width: 50%;
    margin: 0 auto;
    p {
        text-align: center;
        margin: 3rem 0;
    }
}
.externalLink {
    color: rgb(23, 107, 190);
}

// -----------------------

@media screen and (max-width:767px) {

    .contact {
        margin-top: -36rem;
        h3 {
            margin-top: 4rem;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            line-height: 3rem;
        }
    }
    
    .title {
        padding: 3rem 0 1.5rem 0;
        h2 {
            font-size: 1.2rem;
        }
    }
    .news {
        width: 70%;
    }
    .newsPost {
        margin: 3rem 0;
        padding: 0;
        p {
            margin-top: 1rem;
        }
    }
    .newsPostTitle {
        margin: 3rem 0 0 0;
        padding: 1rem 0;
        // border-bottom: solid 1px;
        h3 {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }
    }
    .newsMoreBtn {
        width: 50%;
        text-align: center;
        // margin: 0 auto;
        padding: 1rem 0;
        border-bottom: solid 1px;
    }
    
    .hire {
        width: 70%;
        margin: 0 auto;
        p {
            text-align: center;
            margin: 3rem 0;
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            line-height: 1.5rem;
        }
    }

  }